@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    /* Primary */

--Green: hsl(75, 94%, 57%);

    /* Neutral */

--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 20%);
--Dark-Grey: hsl(0, 0%, 12%);
--Off-Black: hsl(0, 0%, 8%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Off-Black);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--White);
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.card,.card .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: var(--Dark-Grey);
    padding: 2rem;
    border-radius: .5rem;
    gap: 10px;
}

img{
    height: 4rem;
    border-radius: 2rem;
}

.title{
    padding: 5px;
    line-height: 1.5rem;
}

h3{
    font-weight: 400;
}

.location{
    font-weight: 600;
    font-size: 9px;
    color: var(--Green);
}

.skill{
    font-size: 10px;
    font-weight: 200;
}

a{
    background-color: var(--Grey);
    min-width: 14rem;
    text-decoration: none;
    text-align: center;
    color: var(--White);
    font-size: 8px;
    font-weight: 600;
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s;
}

a:hover{
    background-color: var(--Green);
    color: var(--Off-Black);
}